body {
    background-image:url('sky.jpg')  ;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;}
    
    h1, h2,p { text-align: center;}

.sectionA{
    background-color:rgb(137, 121, 226);
    
   width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;

}
.sectionA ol{
    text-align: center ;
}
hr {
    height: 2px;
    background-color: rgb(170, 45, 228);
    border-color: rgb(170, 45, 228);}
   